name: Publish Updated NPM Packages

on:
  push:
    branches: 
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm ci

      - name: Run tests on affected packages
        run: npx nx affected --base=$BEFORE_SHA  -t test --parallel=3 --configuration=ci
        
      - name: Publish affected packages
        run: npx nx affected --base=$BEFORE_SHA -t publish-ci
        
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
          BEFORE_SHA: ${{github.event.before}}